In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('pizza_recipe.csv')
df

   pizza_id                 toppings
0         1  1, 2, 3, 4, 5, 6, 8, 10
1         2       4, 6, 7, 9, 11, 12

In [3]:
df['toppings'] = df['toppings'].apply(lambda x: x.split(','))
df

   pizza_id                          toppings
0         1  [1,  2,  3,  4,  5,  6,  8,  10]
1         2         [4,  6,  7,  9,  11,  12]

In [4]:
df.clean = df.explode('toppings')

C:\Users\ACER\AppData\Local\Temp/ipykernel_14460/2971537575.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.clean = df.explode('toppings')

In [6]:
df.clean = df.clean.reset_index(drop=True)
df.clean

    pizza_id toppings
0          1        1
1          1        2
2          1        3
3          1        4
4          1        5
5          1        6
6          1        8
7          1       10
8          2        4
9          2        6
10         2        7
11         2        9
12         2       11
13         2       12

In [8]:
df.clean.to_csv('pizza_recipes_cleaned.csv')